body {
    /* background-image:url('images/PSstarfield2.jpg'); */
    color:white;
    background-color:black; 
    overflow:hidden; /*hide scrollbars*/
    width:100%;
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    font-size:1em;
}




.overlaytext {
  position: absolute;
  width:100%;
  height:50px;
  text-align: center; 
  color:white;
  margin-top:2em;
  font-size: 5em;
}




canvas {
  /* 100% of screen/window rather than body  */  
   width: 100vw;  
  height: 100vh;
}

nav {
    background-color:slategrey;
    /* text-align:left; */
    
    
    padding:0.05em;
    font-size:1.5em;
    
}

nav a {
    
    
    margin-left: 15%;
    font-family: 'Playfair Display', serif;
    color:white;
    text-decoration:none;
    white-space: nowrap;
    
}


 /* make the nav responsive  https://www.freecodecamp.org/news/how-to-create-a-fully-responsive-navbar-with-flexbox-a4435d175dd3/ */

 .navcontainer {  
    display: flex;  
    list-style-type:none;   

   
  }

  .navcontainer > li {  
    flex: 1;  
  }

  @media all and (max-width: 600px) {  
    
    .navcontainer {  
      flex-wrap: wrap;  
    }  
      
    .navcontainer > li {  
      flex-basis: 50%;  
    }
  
  }

  @media all and (max-width: 400px) {  
    .navcontainer > li {  
      flex-basis: 100%;  
    }  
   
  }



div {
   
    
}

#profilepic {
    position:relative;
    display: flex;
    justify-content: center;

}

#profiletext {
  /* margin:2em 2em 0em 2em; */
  align-items: center;
 
}
#profilepic img {
    position:absolute;
    border-radius:50%;
    width:100%;
    /* margin:2em 0em 0em 2em; */
    /* margin-top:auto; */
    /* height:auto; */
    max-height:400px;
    max-width:450px;
    margin: auto;
    margin-top:4.5em;
     display: block;
     width: 60%;
     
   
}


#profilepic {
    /* display: block; */
    /* max-width:800em;
    max-height:700em; */
    /* width: auto;
    height: auto; */
    /* margin: auto; */
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: #0047AB;
    color: white;
    position: absolute;
    bottom: 0;
    width:100%
    
  }
 

  /* responsive font-size  */
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  body {
    font-size: 1em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  body {
    font-size: 0.6em;
  }
}
 

