
/* css for all pages */
* {
  box-sizing:border-box;
  }
  
body {
  /* background-image:url('images/PSstarfield2.jpg'); */
  color:white;
  background-color:black; 
   overflow:hidden; /*hide scrollbars*/  
  width:100vw;
  font-family: 'Titillium Web', sans-serif;
  
  /* margin:0; */
  font-size:1em;
}



nav {
  background-color:slategrey;
    /* text-align:left; */
     margin-right:0;
     position:static;
    
     width:100vw;
     display:flex;
     align-items: center;
     justify-content:space-around;
     height:auto;
     z-index:9999;
    
     /* padding:0.05em; */
   
     
   
    
}



.navcontainer {  
  background-color:slategrey;
  display: flex;  
  list-style-type:none;   
  width:100vw;
  z-index:9999;
  margin-right:2vw;
  margin-left:2vw;
  
}

nav a {   
    
    
  
   
    font-size:2.5vw;
    font-family: 'Playfair Display', serif;
    color:white;
    text-decoration:none;
    white-space: nowrap;
    margin-right:5.75vw;
    margin-left:5.75vw;

    word-wrap: break-word;
   
    display: inline-block;

  
     
}



button{
  border:1px solid grey;
  background-color: transparent;
  color:white;
  padding:0px;
  margin-right:2vw;
  
 
}


.show{
  display:none;
}



 /* make the nav responsive  https://www.freecodecamp.org/news/how-to-create-a-fully-responsive-navbar-with-flexbox-a4435d175dd3/ */



  .navcontainer > li {  
    flex: 1;  
  }

  @media all and (max-width: 600px) {  
    
    .navcontainer {  
      flex-wrap: wrap;  
    }  
    nav a {
      font-size:1em;
      
    }
      
    .navcontainer > li {  
      flex-basis: 50%;  
    }

  }

  @media all and (max-width: 400px) {  
    .navcontainer > li {  
      flex-basis: 100%;
      
     
    }  
    /* li {
      display:none !important;
    } */
    
    nav a {
      margin-left:25vw;
      
    }

    
  }

/* css for first page */
.overlaytext {
  position: absolute;
 
  
  /* align horizontally and vertically */
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
 
  top: 50%;
  left:50%;

  text-align: center; 
  color:white;
  font-size:5vmax;   
  /* font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; */
 
}

.about {
  margin-left:10vw;
  margin-right:10vw;
}
canvas {
  /* 100% of screen/window rather than body  */  
   width: 100vw;  
   height: 80vh;
}




/* css for about page */

#profilepic {
  
  /* position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; */
  float:left;
 
  
  

}

#profiletext {


}
#profilepic img {
 width:226px;
 height:203px;
 
}


.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  footer {
    text-align: center;
    height:5vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #0047AB;
    color: white;
    position: absolute;
    bottom: 0;
    
    width:100%
    
  }
 footer p {
  margin-bottom:2vh;
  font-size:2vmin;
  position:relative;

  
 }

  /* responsive font-size  */
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 601px) {
  body {
    font-size: 1em;
  }
} */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
  body {
    font-size: 0.6em;
  }
}
  */


/* work and education page */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* .row {
  Width: 100%;
  Height: 50%;
}
.border {
  border-bottom: 1px solid black;
}
.d1, .d2, .d3, .d4 {
  float:left;
  width:49%;
  z-index:9999;
  
}
.d1 {
  margin-right:1%;
  text-align:center;
}
.d3 {
  clear:both;
  margin-right: 1%;
  text-align:center;
}
.d1, .d2 {
  margin-bottom:1%;
  text-align:center;
} */ 

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue;
  /* padding: 10px; */
  
 



  
}

.grid-item {
 
  background-color:black;
  border-right: 1px solid rgba(255, 0, 255, 0.267);
  border-bottom: 1px solid rgba(255, 192, 203, 0.466);
  font-size:2.5vw;
  width:50%;
  height:50;
  width:auto;
  height:auto;
  display:flex; 
  align-items: center;
  text-align:center;
  overflow: hidden;
  
  
  
 
}

 
  

.grid-item-row-1 {
  width:50vw;
  height:45vh;
  position: relative;
  grid-gap: 0px;
  min-width:50vw;
  display:table;
}


.grid-item-row-2 {
  width:50vw;
  height:55vh;
  position: relative;
  grid-gap: 0px;
  min-width:50vw;
  
}

.grid-item-row-1+ .grid-item-row-2 {
  grid-column-start: 1;
}

.divtocenter1, .divtocenter2 {
  margin: 0;
  position: absolute;
  font-size:0.65vmax;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 
  max-height:100%;
}

.divtocenter2 {

  margin-top:-10vh;

}

#BSc {
}
#WH {
  
}

#MRes {
}

#Projects {
}



/* css for contact page */